/* styles.css */
.ant-select-focused .ant-select-selector,
.ant-select-selector:hover,
.ant-select-open .ant-select-selector {
  border-color: #37B149 !important; 
}

.border-primary {
  border-color: #37B149 !important;
}




.custom-pagination .ant-pagination-item-active a {
  color: white;
  background-color: #37B149; 
  border-color: #37B149 !important;
 
}

.custom-pagination .ant-pagination-item-active a:hover {
  color: white; 
  background-color: #37B149; 
  border-color: #37B149 !important;
}

