.swiper-navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
  
  .swiper-navigation button {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px 20px;
  }
  